*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}
header{
    background-image: url("../images/background.jpg");
    height: 80rem;
    background-size: cover;
    margin-bottom: 20rem;

}
.heder-title{
    position: absolute;
    margin-top: 26rem;
    font-size: 6.5rem;
    color: white;
    font-weight: 800;
    margin-left: 57%;
    font-family:cursive;
}
.nav-bar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 5.6rem;
    overflow: hidden;
    position: fixed;
    box-shadow: 0px 4px 12px rgba(245, 126, 126, 0.514);
    z-index: 1;
}
.paragraphes{
    text-align:left;
    font-size: 1.4rem;
    font-family: 'Roboto Mono';
    font-weight: 300;
    align-self: center;
}
.nav-links{
    display:flex;
    gap: 5rem;
    align-self: center;
}
#nav-logo{
    width: 15rem;
    padding: 0.5rem;

}
.link__style{
    color: black;
    text-decoration: none;
    font-size:1.4rem;
    transition: all 0.4s;
}
.link__style:hover , .link__style:focus{
    color: rgb(255, 0, 0);

}
li{
list-style: none;
}
body{
    font-family: sans-serif;
    cursor: pointer;
}
.titles{
    text-align: center;
    font-size: 2.8rem;
    padding: 6rem;
    font-family: 'Roboto Mono';
    font-weight: 500;
}

.container{
    display:flex;
    text-align: right;
    gap: 6rem;
    width: 100rem;
    justify-content: center;
    margin: auto;
}
.hidden{
    display: none;
}


.intro-c{
    flex-direction: column;
    display:flex;
    text-align: right;
    gap: 6rem;
    width: 100rem;
    justify-content: center;
    margin: auto;
}
.intro-p{
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Roboto Mono';
    font-weight: 300;
    align-self: center;
}
.intro-img{
    width: 60rem;
    height:22rem;
    border-radius: 2rem;
    align-items: center;
    margin: auto;
}
.subtitles{
    font-size: 1.8em;
    font-weight: 500;
    color: rgba(215, 113, 113, 0.765);
    word-spacing: 0.5rem;
    margin: 1rem;
    transition: all 0.2s;

}
.subtitles:hover ,.subtitles:focus{
    text-decoration: underline rgb(255, 131, 131) 2px;
    
}

.imgs{
    width: 18rem;
    height:18rem;
    padding: 2rem;
    border-radius: 3rem;
}
#map{
    margin-left: 18rem;
}
.svg-more__less{
    margin-left: 1rem;
    transform: scale(1.5);
    align-self: center;
    display: none;
    
}
/*                      plats*/

.plats_imgs__groupe{
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 2rem;
  
}
.plat-container{
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius:0.5rem;
    border: solid rgba(255, 255, 255, 0.361) 1rem;
}
.plats-img{
    width: 15rem;
    height: 15rem;
    transition: all 0.5s;
}
.plats-img:hover{
    transform: scale(1.15);
}
.Plats{
    background-image: url('../images/table2.jpg');
    background-size: cover;
    display: flex;
    width: 100%;
}
.plats_text__groupe{
    width: 58%;
}
.plat_name{
    font-size: 3.2rem;
    font-weight: 800;
    font-family: 'Roboto Mono';
    padding: 5rem;
    padding-top: 10rem;
}
.plat_discription{
    font-size: 1.5rem;
    font-weight: 400;
    padding: 5rem;
    line-height: 3rem;
 
    font-family: 'Roboto Mono';
}